@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;500;600;700&display=swap");
* {
  font-family: "Montserrat", sans-serif !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn-primary {
  background-color: #558ef8 !important;
}

ul li a {
  transition: ease-in 2s all !important;
}

ul li a:hover {
  transition: ease-in 3s all !important;
  text-decoration: underline;
}
