@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Lato:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif !important;
  color: #fefdfd !important;
}
body {
  background-color: #333646;
}
.bg-dark{
  background-color: #252734 !important;
}
.font {
  font-family: "Agbalumo", sans-serif !important;
}
.text-secondary {
  color: #93949d !important;
}

.dropdown-item:hover {
  background-color: #333646 !important;
}
.nav-item {
  margin-right: 8px;
  font-weight: 700;
}
.nav-link {
  border-radius: 16px;
}
.nav-link:hover {
  background-color: #252734;
}
.button {
  color: #f6c85d !important;
  font-weight: 700 !important;
  border: 2px solid #f6c85d;
  background-color: transparent;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.highlight{
  color: #e9b258 !important;
  font-size: 2.5rem;
}
.email{
  font-size: 1.5rem; color: #e9b258 !important;
}
.button:hover {
  color: #7b642f !important;
  border-color: #7b642f !important;
}

.button .bx {
  color: inherit !important;
  margin-left: 5px;
}
.card-hitam{
  padding: 60px 0 0;
  background-color:#414556 !important;
}
.paddingtop{
  padding:  4rem 0 !important;
}
.bg-none{
  background: none !important;
  border: none !important;
}